.card{
    width: 300px;
    border: 1px solid black;
    border-radius:5px;
    transition:transform 0.3s, box-shadow 0.3s;
}

.card img{
    width: 100%;
    height: auto;
}

.cardContent{
    padding: 20px;
    text-align: center;
}

.card-title{
    margin: 0px;
    font-size: 20pt;
}

.cardDesc{
    color:red;
}

/* ----------------- */


.card-flip{
	width:300px;
	height:200px;
	perspective:1000px /*profundidade para o efeito 3D*/
}

.card-inner{
	width:100%;
	height:100%;
	position:relative;
	transform-style:preserve-3d;/*permite o efeito 3D*/
	transition:transform 0.6s /*tempo da animação*/
}

.card-flip.flipped .card-inner{
	transform:rotateY(180deg)
}

/* O método .toggle() da classList adiciona ou remove uma classe específica do elemento.
Quando toggle('flipped') é chamado:
    Se a classe 'flipped' não estiver presente no elemento, ela será adicionada.
    Se a classe 'flipped' já estiver presente, ela será removida.
 */


.card-front, .card-back{
	width:100%;
	height:100%;
	position:absolute;
	backface-visibility:hidden;/*para colocar invisivel uma das partes do card frente ou verso*/
	border:1px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:1.5em
}

.card-back{
	transform:rotateY(180deg); /*inicia com o verso virado*/
	background-color:#d3d3d3; /*cor de fundo para o verso
}